@font-face {
font-family: 'Gotham Narrow Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Narrow Book'), url('GothamNarrow-Book.woff') format('woff');
}
@font-face {
font-family: 'Gotham Narrow Bold';
font-style: normal;
font-weight: bold;
src: local('GothamNarrow-Bold'), url('GothamNarrow-Bold.woff') format('woff');
}

@font-face {
  font-family: "SignPainterHouseScript";
  src: url("SignPainter-HouseScript-Regular.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
li
{
    font-family: "Gotham Narrow Book";
    color: #572983 !important;
    font-size: 20px;
}

.contactoPM
{
    padding: 0px !important;
}

.logoF
{
    width:70%;
}
.icoF
{
    width: 20%;
}
.mega-menu .menu-mobile-collapse-trigger:before, .mega-menu .menu-mobile-collapse-trigger:after, .mega-menu .menu-mobile-collapse-trigger span
{
    background:  #572983 !important;
}
.mapa
{
    width:100%; 
    height:480px;
}
.iconM
{
    color: #572983;
    font-size: 10px;
}
.menuB
{
    background-color: #f8f8f8 !important;
}
.textoMS
{
    font-family: "Gotham Narrow Book";
    font-size: 25px;
}
.accordion .acd-heading
{
    color: #572983;
}
.textoM
{
    font-family: "Gotham Narrow Book";
    color: #572983 !important;
}
.textoMT
{
    font-family: "Gotham Narrow Bold";
    color: #572983 !important;
}
.textoM3
{
    font-family: "Gotham Narrow Book";
    color: black !important;
    font-size:30px
}
.paddS
{
    padding-left: 65px;
    padding-top: 50px;
}
.paddC
{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bolder;
}
.padd0
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.textoM2
{
    font-family: "SignPainterHouseScript";
    color: #572983 !important;
    font-size: 100px;
    padding: 50px;
}
.textoMC
{
    font-family: "SignPainterHouseScript";
    color: white !important;
    font-size: 50px;
}
.service-plumber .feature-box:hover:before, .service-plumber .feature-box.active:before
{
    background: rgba(87, 41, 131, 0.05) !important ;
}
.contactM
{
    background-color: #572983 !important;
    color: white !important;
    font-family: "Gotham Narrow Book";
    border-color: transparent !important;
}
.contactM::placeholder
{
    color: white !important;
    font-family: "Gotham Narrow Book";
}
.mega-menu.desktopTopFixed .menu-list-items .menu-logo > li > a img
{
    height: 45px;
    width: 45px;
}


.padding0
{
    padding: 0px 0 0px !important;
}
.container2
{
    min-width: 90%
}
.aMenu
{
    font-size: 25px !important;
    font-weight: bolder !important;
    padding-right: 70px !important;
}
.section
{
    background: #f8f8f8 !important;
}
.backG
{
    background-color: #DDDDDD !important;
}
.backG:hover
{
    background-color: #572983 !important;
}
.backG:hover .mega-menu .menu-logo .imgS
{
    background: url("images/slider1.jpg") no-repeat;
}
.accordion.gray .acd-group.acd-active .acd-heading
{
    background-color: #572983 !important;
}
.accordion.plus-icon.round .acd-group .acd-heading:before
{
    content: "\f054";
}
.accordion.plus-icon.round .acd-group.acd-active .acd-heading:before
{
    content: "\f078";
}
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
.plumber-contact-bg{
    margin-top: -35px !important;
}
@media (min-width: 1200px){
.container5 {
    max-width: 85% !important;
}
}
/*Celular*/
@media (min-width: 320px) and (max-width: 480px)
{
    .mega-menu .menu-logo .imgS
    {
         width: 50px !important;
         height: 50px !important;
    }
#contactoB
{
    display: none;
}
  .mega-menu .menu-logo img {
    height: 45px !important;
    width: 35px !important;
}
.mapa
{
    width:100%; 
    height:480px;
}
.textoM2
{
    font-family: "SignPainterHouseScript";
    color: #572983 !important;
    font-size: 50px;
    padding: 5px;
}
.textoM3
{
    font-family: "Gotham Narrow Book";
    color: black !important;
    font-size:20px;
    text-align: justify;
}
.textoMS
{
    font-family: "Gotham Narrow Book";
    font-size: 10px;
}
.logoF
{
    width:40%;
}
.icoF
{
    width: 5%;
}
.menuI
{
    display: none !important;
}
.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 0%;
    height: 0%;
}
}

/*Computadoras */
@media (min-width: 1281px) {
    .mapa
{
    width:100%; 
    height:480px;
}
  .marginI
  {
    margin-left: 105px;
  }
  .mega-menu .menu-logo img
{
    width: 200px ;
    height: 200px ;
}
.accordion.plus-icon.round .acd-group .acd-heading:before
{
    margin-top: 19px;
    font-size: 23px;
}
.accordion.plus-icon.round .acd-group.acd-active .acd-heading:before
{
    font-size: 23px;
}
.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 47%;
    height: 100%;
}
}
/*Computadoras grandes*/
@media (max-width: 1367px) {

.textoVal
{
    font-family: "SignPainterHouseScript";
    font-size: 45px;
    color: white;
    font-weight: normal;
}
  .textoMVl
{
    font-family: "Gotham Narrow Book";
    color: white !important;
    font-size: 15px;
}
.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 47%;
    height: 100%;
}
}
/*Computadoras grandes*/
@media (min-width: 1370px) {

.textoVal
{
    font-family: "SignPainterHouseScript";
    font-size: 50px;
    color: white;
    font-weight: normal;
}
  .textoMVl
{
    font-family: "Gotham Narrow Book";
    color: white !important;
    font-size: 15px;
}
.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 47%;
    height: 100%;
}
}

/* Tablets y ipads portrait */
@media (min-width: 768px) and (max-width: 1023px) {

    .textoM2 {
    font-family: "SignPainterHouseScript";
    color: #572983 !important;
    font-size: 75px;
    padding: 50px;
}

.mapa
{
    width:100%; 
    height:480px;
}

.menuI{
    display: none!important;
}
  
.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 47%;
    height: 100%;
}

}
/* Tablets y ipads landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .aMenu {
    font-size: 24px !important;
    font-weight: bolder !important;
    padding-right: 40px !important;
}

.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 47%;
    height: 100%;
}
  
}
/* Celulares landscape */
@media (min-width: 481px) and (max-width: 767px) {
  .menuI
{
    display: none !important;
}
.textoM2
{
    font-size: 60px;
}
#contactoB
{
    display: none;
}   .mapa
{
    width:100%;
    height:480px;
}

.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 0%;
    height: 0%;
}

}

/*Celular*/

@media (min-width: 0px) and (max-width: 320px) {
    .mapa
{
    width:100%;
    height:480px;
}

.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 0%;
    height: 0%;
}
.mega-menu .menu-logo .imgS
    {
         width: 50px !important;
         height: 50px !important;
    }
}

/*Celular*/
@media (min-width: 320px) and (max-width: 425px)
{
    .mapa
{
    width:100%;
    height:480px;
}
.mega-menu .menu-logo .imgS
    {
         width: 50px !important;
         height: 50px !important;
    }
.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 0%;
    height: 0%;
}

}

/*Celular*/

@media (min-width: 426px) and (max-width: 768px) {
    .mapa
{
    width:100%;
    height:480px;
}

.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 0%;
    height: 0%;
}
.mega-menu .menu-logo .imgS
    {
         width: 50px !important;
         height: 50px !important;
    }
}

/*tablet*/

@media (min-width: 769px) and (max-width: 1440px) {


    .textoM2 {
    font-family: "SignPainterHouseScript";
    color: #572983 !important;
    font-size: 75px;
    padding: 50px;
}

.mapa
{
    width:100%; 
    height:480px;
}

  .aMenu {
    font-size: 24px !important;
    font-weight: bolder !important;
    padding-right: 40px !important;
}

  .mega-menu .menu-logo img
{
    width: 120px ;
    height: 120px ;
}

.split-section .img-holder {
    position: absolute;
    top: 0;
    width: 47%;
    height: 100%;
}



}